<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
</head>
<body>
  <h1>Fetched Contacts</h1>
  <% if (contacts.length === 0) { %>
    <p>No contacts found.</p>
  <% } else { %>
    <ul>
      <% contacts.forEach(contact => { %>
        <li><%= contact.firstName || '' %> <%= contact.lastName || '' %> - <%= contact.email || 'No email' %></li>
      <% }); %>
    </ul>
  <% } %>
</body>
</html>
